html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-family: "Century Gothic", sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, p, div, span, i, ul, li, button, table, tr, td {
  margin: 0;
  padding: 0;
}

table{
  border-spacing: 0;
}

button {
  border: none;
  padding:10px;
  border-radius: 5px;
  margin-right: 5px;
}

button:hover {
  background-color: midnightblue;
  color: white;
  transition: all 0.2s ease-in-out 0s;
}

button:focus {
  outline:none;
}

a {
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
}

input, textarea, select, option{
  border: solid 1px #aaaaaa;
  border-radius: 3px;
  margin: 1px;
}

input:focus, textarea:focus, select:focus {
  /*outline:none;*/
}

table {
  border-collapse: collapse;
}